{% style %}
{% endstyle %}

<div class="compare-table__container page-width">
  <h1 class="main-page-title page-title h0 scroll-trigger animate--fade-in">{{ page_title }}</h1>
  <p style="max-width: 75ch;">
    Most of the components on VoltBike ebikes are easily replaceable and most of our members are able to perform repairs
    in a home environment. Take a look at our How-To Video gallery. This should help you with replacing the components
    on your VoltBike.
  </p>

  {% assign ebikes = collections['all-bikes'] %}

  <p>
    {{- ebikes.title -}}
    :&nbsp;
    {{- ebikes.handle -}}
    ,&nbsp;
    {{- ebikes.all_products_count -}}
    &nbsp;products.
  </p>

  <table>
    <thead>
      <tr>
        <th scope="col empty"></th>
        {% for ebike in ebikes.products %}
          <th scope="col">{{- ebike.title | link_to: ebike.url }}</th>
        {% endfor %}
      </tr>
      <tr>
        <th scope="col">Image</th>
        {% for ebike in ebikes.products %}
          <th scope="col">
            <img src="{{ ebike.featured_image | image_url: width: 250 }}" alt="{{ ebike.title | escape }} image">
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Price</th>
        {% for ebike in ebikes.products %}
          <td>
            {%- if ebike.price_varies -%}Starting at&nbsp;{%- endif -%}
            {{ ebike.price | money_with_currency }}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Motor Type</th>
        {%- for ebike in ebikes.products -%}
          <td>
            {{- ebike.metafields.specs.motor_type -}}
          </td>
        {%- endfor -%}
      </tr>
      <tr>
        <th scope="row">Motor</th>
        {%- for ebike in ebikes.products -%}
          <td>
            {{- ebike.metafields.specs.motor -}}
          </td>
        {%- endfor -%}
      </tr>
      <tr>
        <th scope="row">Battery</th>
        {%- for ebike in ebikes.products -%}
          <td>
            {{- ebike.metafields.specs.battery -}}
          </td>
        {%- endfor -%}
      </tr>
      <tr>
        <th scope="row">Frame Size</th>
        {%- for ebike in ebikes.products -%}
          <td>
            {{- ebike.metafields.specs.frame_size -}}
          </td>
        {%- endfor -%}
      </tr>
      <tr>
        <th scope="row">Weight</th>
        {%- for ebike in ebikes.products -%}
          <td>{{- ebike.variants.first.weight | weight_with_unit -}}</td>
        {%- endfor -%}
      </tr>
    </tbody>
  </table>
</div>
