<div class="compare-table__container page-width">
  <h1 class="main-page-title page-title h0 scroll-trigger animate--fade-in">{{ page_title }}</h1>
  <p style="max-width: 75ch;">
    Most of the components on VoltBike ebikes are easily replaceable and most of our members are able to perform repairs
    in a home environment. Take a look at our How-To Video gallery. This should help you with replacing the components
    on your VoltBike.
  </p>

  {% assign ebikes = collections['all-bikes'] %}

  {{- ebikes -}}

  {% comment %}
    <ul>
      {% for collection in collections %}
        <li>{{- collection.title -}}: {{- collecion.handle -}}</li>
      {% endfor %}
    </ul>
  {% endcomment %}

  <table>
    <thead>
      <tr>
        <th>Product</th>
        {% for product in products %}
          <th>{{- product.title | link_to: product.url }}</th>
        {% endfor %}
      </tr>
    </thead>
  </table>
</div>
