{% comment %}
  Custom snippet for four-box image-link section of home page.
{% endcomment %}

{% style %}
  #shipping {
    background-image: url("{{ 'local_service_mechanic.jpg' | file_img_url }}");
    background-size: 100% auto;
  }

  #assembled {
    background-image: url("{{ 'bc-rebate.jpg' | file_img_url }}");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #ambassador {
    background-image: url("{{ 'fourbox_container-ambassador-50.webp' | file_img_url }}");
    background-size: 100% auto;
  }

  #rentals {
    background-image: url("{{ 'fourbox_container-rentals-50.webp' | file_img_url }}");
    background-size: 104% auto;
  }

  .fourbox_container

  .fourbox_container a {
    width: 100%;
    min-height: 75px;
    height: 16vw;
    background-position: center;
  }

  .fourbox_container h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    display: block;
    line-height: 100%;
    letter-spacing: 0;
    border-radius: 5px;
    color: black;
  }

  .fourbox_container h2 span {
    display: block;
    font-weight: 400;
    font-size: 2.2rem;
  }

  @media (max-width: 767px) {
    .fourbox_container h2 {
      position: relative;
      height: 100%;
      margin: auto 0;
      background-color: none;
      padding: 3vw 0 3vw 3vw;
      font-size: 2.2rem;
      border-radius: 0;
      background: linear-gradient(45deg, rgb(228 228 228), rgb(200 200 200/ 0%));
    }

    .fourbox_container h2 span {
      font-size: 1.4rem;
    }

    .box1 h2 {
      background: linear-gradient(45deg, rgb(235, 235, 235), rgb(200 200 200/ 0%));
    }

    .box2 h2 {
      background: linear-gradient(45deg, rgb(225, 225, 225), rgb(200 200 200/ 0%));
    }
  }

  @media (min-width: 768px) {
    .box1 h2,
    .box2 h2 {
      background: none;
    }

    .fourbox_container h2 {
      position: absolute;
      margin: 0 30px 0 0;
      top: 30px;
      left: 30px;
      padding: 5px 10px;
      background-color: white;
    }
  }
{% endstyle %}
<div class="page-width isolate scroll-trigger animate--slide-in" data-cascade="">
  <div class="fourbox_container">
    <div class="box box1">
      <a id="shipping" class="image-link" href="{{ 'pages/local-service' | url }}" target="_blank">
        <h2><span>Get your bike serviced</span>locally</h2>
      </a>
    </div>

    <div class="box2">
      <a
        id="assembled"
        class="image-link"
        href="news/post/unlock-big-savings-on-electric-bikes-with-bc-e-bike-rebates"
        target="_blank"
      >
        <h2><span>BC Electric Bike</span>rebates</h2>
      </a>
    </div>

    <div class="box1">
      <a id="ambassador" class="image-link" href="{{ '/pages/ambassador' | url }}" target="_blank">
        <h2><span>Find a local VoltBike</span>Ambassador</h2>
      </a>
    </div>

    <div class="box2">
      <a id="rentals" class="image-link" href="{{ '/pages/rent' | url }}" target="_blank">
        <h2><span>Learn about</span>RENTAL FLEETS</h2>
      </a>
    </div>
  </div>
</div>
