{% comment %}
  Custom snippet for four-box image-link section of home page.
{% endcomment %}

{% style %}
  .fourbox__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .fourbox__container .box {
    display: flex;
    max-width: 48%;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    transition: all 250ms ease-in;
  }

  .fourbox__container .box:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transform: translateY(-5px);
    transition: all 250ms ease-out;
  }

  .fourbox__container h2 {
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0;
    color: black;
    text-decoration: none;
  }

  .fourbox__container .box__content {
    padding: 1em 2em; 
  }

  .fourbox__container .box__cover {
    min-height: 250px;
    display: block;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  #service .box__cover {
    background: linear-gradient(180deg, rgba(103, 150, 219, 1) 0%, rgba(103, 150, 219, 0) 100%), url("{{ 'local_service_mechanic.jpg' | file_img_url: 'large' }}");
  }
  #rebates .box__cover {
    background: linear-gradient(180deg, rgba(134, 191, 153, 1) 0%, rgba(134, 191, 153, 0) 100%), url("{{ 'bc-rebate.jpg' | file_img_url: 'large' }}");
  }
  #ambassador .box__cover {
    background: linear-gradient(180deg, rgba(223, 224, 168, 1) 0%, rgba(223, 224, 168, 0) 100%), url("{{ 'fourbox-ambassador-50.jpg' | file_img_url: 'large' }}");
  }
  #rentals .box__cover {
    background: linear-gradient(180deg, rgba(161, 204, 229, 1) 0%, rgba(161, 204, 229, 0) 100%), url("{{ 'fourbox-rentals-50.jpg' | file_img_url: 'large' }}");
  }

  @media (max-width: 767px) {
  }

  @media (min-width: 768px) {
    .fourbox__container {
      flex-wrap: nowrap;
    }
    
    .fourbox__container .box {
      max-width: unset; 
    }
  }
{% endstyle %}
<div class="page-width isolate scroll-trigger animate--slide-in" data-cascade="">
  <div class="fourbox__container">
    <a
      id="service"
      class="box"
      href="{{ 'pages/local-service' | url }}"
      target="_blank"
      style="background-color: #6796DB;"
    >
      <div class="box__content">
        <h2 style="color: #143B75">Have your bike serviced locally.</h2>
      </div>
      <div class="box__cover"></div>
    </a>

    <a
      id="rebates"
      class="box"
      href="{{ '/blogs/news/unlock-big-savings-on-electric-bikes-with-bc-e-bike-rebates' | url }}"
      target="_blank"
      style="background-color: #86BF99;"
    >
      <div class="box__content">
        <h2 style="color: #2D5932">Learn about BC ebike rebates.</h2>
      </div>
      <div class="box__cover"></div>
    </a>

    <a
      id="ambassador"
      class="box"
      href="{{ '/pages/ambassador' | url }}"
      target="_blank"
      style="background-color: #DFE0A8;"
    >
      <div class="box__content">
        <h2 style="color: #474719">Find a local VoltBike ambassador.</h2>
      </div>
      <div class="box__cover"></div>
    </a>

    <a
      id="rentals"
      class="box"
      href="{{ '/pages/rental-fleet' | url }}"
      target="_blank"
      style="background-color: #A1CCE5;"
      >
      <div class="box__content">
        <h2 style="color: #17394D">Learn about ebike rental fleets.</h2>
      </div>
      <div class="box__cover"></div>
    </a>
  </div>
</div>
