<div class="product-overview page-width">
  <h2 class="title h1 scroll-trigger animate--slide-in" data-cascade style="--animation-order:1;">Overview</h2>
  <div class="product-overview__grid">
    {% liquid
      for i in (1..4)
        assign zone_prefix = 'z'
        assign header_key = zone_prefix | append: i | append: '_header'
      endfor
    %}

    <!--
      {% for i in (1..4) %}
        {% assign zone_prefix = 'z' | append: i %}

        {% assign header = product.metafields.custom[zone_prefix | append: '_header'] %}
        {% assign content = product.metafields.custom[zone_prefix | append: '_content'] %}
        {% assign additional = product.metafields.custom[zone_prefix | append: '_additional'] %}
        {% assign image = product.metafields.custom[zone_prefix | append: '_image'] %}

        <div class="zone">
          <h2>{{ header }}</h2>
          <p>{{ content }}</p>
          <p>{{ additional }}</p>
          <img src="{{ image }}" alt="{{ header }} ">
        </div>
      {% endfor %}
    -->
  </div>
</div>
