{% liquid
  assign zone_prefix = 'z'
  assign field = product.metafields.custom.product_overview.value
%}

{% style %}
  .product-overview__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em 0px;
    grid-template-areas: "zone-1" "zone-2" "zone-3" "zone-4";
  }

  .product-overview__grid .zone {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    overflow: hidden;
    box-shadow: 0 0 15px rgb(0 0 0 / 5%);
  }

  {% for i in (1..4) %}
    .zone-{{ i }} { grid-area: zone-{{ i }}}
  {% endfor %}

  @media screen and (min-width: 768px) {
    .product-overview__grid .zone {
      grid-template-areas: ". .";
      grid-template-rows: 1fr;
      min-height: auto;
    }
  }

  @media screen and (min-width: 1024px) {
    .product-overview__grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2em;
      grid-template-areas: "zone-1 zone-1 zone-2" "zone-3 zone-3 zone-2" "zone-4 zone-4 zone-4";
    }

    .product-overview__grid .zone {
      min-height: 400px;
    }

    .product-overview__grid .zone-1,
    .product-overview__grid .zone-3 {
      grid-template-rows: 1fr;
      grid-template-areas: ". .";
    }

    .product-overview__grid .zone-2 {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." ".";
    }

    .product-overview__grid .zone-4 {
      grid-template-columns: 1fr 2fr;
    }
  }
    
{% endstyle %}

<div class="product-overview page-width">
  <h2 class="title h1 scroll-trigger animate--slide-in" data-cascade style="--animation-order:1;">Overview</h2>
  <div class="product-overview__grid">
    
    {% for i in (1..4) %}
      
      {% liquid
        assign zone_id = zone_prefix | append: i
        assign header_key = zone_id | append: '_header'
        assign content_key = zone_id | append: '_content'
        assign additional_key = zone_id | append: '_additional'
        assign image_key = zone_id | append: '_image'
        assign header = field[header_key].value
        assign content = field[content_key].value
        assign additional = field[additional_key].value
        assign image = field[image_key].value
      %}

      <div class="product-overview__grid zone zone-{{ i }}">
        <div class="zone__content">
          <h2>{{ header }}</h2>
          <p>{{ content }}</p>
          <p>{{ additional }}</p>
        </div>
        <div class="zone__cover">
          <img src="{{ image | image_url }}" alt="{{ header }}">
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>
