{% comment %}
  Custom block for product template that displays blog posts with a matching tag.
{% endcomment %}

{% style %}
  .related-blog-posts__post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em
  }

  .related-blog-posts__post {
    max-width: 350px;
    padding: 25px;
  }

  .related-blog-posts__post h4,
  .related-blog-posts__post p {
    margin-top: 0;
  }
{% endstyle %}

{% liquid
  assign articles_all = blogs.stories.articles
  assign articles_related_handles = ''
  assign product_tag = product.metafields.blog.tags

  for article in articles_all
    if article.tags contains product_tag
      assign articles_related_handles = articles_related_handles | append: article.handle
      assign articles_related_handles = articles_related_handles | append: ','
    endif
  endfor

  if articles_related_handles != empty
    assign articles_related_handles = articles_related_handles | split: ','
  else
    assign articles_related_handles = ''
  endif
%}

<div class="related-blog-posts isolate">
  <div class="content-container content-container--full-width color-background-1">
    <div class="related-blog-posts__wrapper related-blog-posts__wrapper--left page-width">
      <div class="related-blog-posts__blocks">
        <h2
          class="related-blog-posts__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 1;"
        >
          Related Blog Posts
        </h2>
        <div
          class="related-blog-posts__post-list rte scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 2;"
        >
          {% if product_tag != empty %}
            {% for handle in articles_related_handles %}
              {% assign article = articles[handle] %}
              {% assign content = article.content | strip_html %}
              <div class="related-blog-posts__post">
                <small>{{ article.created_at | date: '%b %d, %y' }}</small>
                <h4>{{ article.title }}</h4>
                <img
                  src="{{ article.image.src |image_url: width: 300, height: 300 }}"
                  alt="{{ article.image.alt | escape }}"
                  width="300"
                  height="300"
                >
                <p>{{ content | truncate: 100 }}</p>
                <a href="{{ article.url }}">Read Post</a>
              </div>
            {% endfor %}
          {% else %}
            blog.tags is empty.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
