<div class="product-overview page-width">
  <h2 class="title h1 scroll-trigger animate--slide-in" data-cascade style="--animation-order:1;">Overview</h2>
  <div class="product-overview__grid">
    
    {% assign zone_prefix = 'z' %}
    {% assign field = product.metafields.custom.product_overview %}
    {{ product.metafields.custom.product_overview }}
    {% for i in (1..4) %}
      
      {% liquid
        assign header_key = zone_prefix | append: i | append: '_header'
        assign content_key = zone_prefix | append: i | append: '_content'
        assign additional_key = zone_prefix | append: i | append: '_additional'
        assign image_key = zone_prefix | append: i | append: '_image'
        assign header = field[header_key]
        assign content = field[content_key]
        assign additional = field[additional_key]
        assign image = field[image_key]
      %}

      <div class="zone">
        <h2>{{ header }}</h2>
        <p>{{ content }}</p>
        <p>{{ additional }}</p>
        <img src="{{ image }}" alt="{{ header }}">
      </div>
    {% endfor %}
    
  </div>
</div>
