{% comment %}
  Custom block for product template that displays blog posts with a matching tag.
{% endcomment %}

{% style %}
{% endstyle %}

{% liquid
  assign articles_all = blogs.stories.articles
  assign articles_related_handles = ''
  assign product_tag = product.metafields.blog.tags

  for article in articles_all
    if article.tags contains product_tag
      assign articles_related_handles = articles_related_handles | append: article.handle
      assign articles_related_handles = articles_related_handles | append: ','
    endif
  endfor

  if articles_related_handles != empty
    assign articles_related_handles = articles_related_handles | split: ','
  else
    assign articles_related_handles = ''
  endif

  assign articles_related_qty = articles_related_handles.size
%}

<div class="isolate">
  <div
    id="sizing-container"
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks">
        <h2
          class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 3;"
        >
          Related Blog Posts
        </h2>
        <div
          class="block-sizing rich-text__text rte scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 4;"
        >
          {% if product_tag != empty %}
            Tag: {{ product_tag }}
            <br>
            # of related articles: {{ articles_related_qty }}
            <br>
            {% for handle in articles_related_handles %}
              {% assign article = articles[handle] %}
              <div class="article">
                <h3>{{ article.title }}</h3>
                {{ article.image }}
                {{ article.created_at }}
                {{ article.content }}
              </div>
            {% endfor %}
          {% else %}
            blog.tags is empty.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
